<html>
    <head>
        <title>Yahoo! Meme iOS Backend application</title>
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8">
          var yql_console = 'http://developer.yahoo.com/yql/console/#h=';
          var yql_query_template = 'SELECT * FROM meme.search(#highlight_amount#) WHERE query="#highlight_query#"';
          var meme_search_template = 'http://meme.yahoo.com/search/?q=#highlight_query#';
          
          var generate_bookmarklet = function() {
              var js = $('#bookmarklet_js').val();
              js = js.replace('#username#', $('#meme_username').val());
              $('#bookmarklet').attr('href', js);
              $('#bookmarklet_text').show();
          };
          
          var update_highlight_query = function() {
              var new_query = yql_query_template;
              new_query = new_query.replace('#highlight_amount#', $('#highlight_amount').val());
              new_query = new_query.replace('#highlight_query#', $('#highlight_query').val());
              $('#yql_query').html(new_query);
              $('#yql_query_link').attr('href', yql_console + new_query.replace('=', '%3D'));
              
              var new_search = meme_search_template.replace('#highlight_query#', $('#highlight_query').val());
              $('#meme_search').html(new_search);
              $('#meme_search_link').attr('href', new_search);
          };
          
          var highlight_submit = function() {
              var query = $('#highlight_query').val();
              var amount = $('#highlight_amount').val();
              var valid_amount = /^[1-9]{1}$/g;
              
              if ((query == '') || (amount == '')) {
                  alert('You need to fill "Meme Query" and "Max. results" fields.');
              } else if (!valid_amount.test(amount)) {
                  alert('"Max. results" field only supports numeric values (> 0).');
              } else {
                  document.forms['highlight_form'].submit();
              }
          };
        
          $(document).ready(function() {
              $('#generate_bookmarklet').click(function(){ generate_bookmarklet() });
              $('#highlight_query').keyup(function(){ update_highlight_query(); });
              $('#highlight_query').keydown(function(){ update_highlight_query(); });
              $('#highlight_amount').keyup(function(){ update_highlight_query(); });
              $('#highlight_amount').keydown(function(){ update_highlight_query(); });
              $('#highlight_submit').click(function(){ highlight_submit(); });
              update_highlight_query();
          });
        </script>
    </head>
    <body>
        <h1>Yahoo! Meme iOS Backend application</h1>
        <h2>Image upload</h2>
        <p>
            <form id="img_form" action="{{ img_upload_url }}" method="POST" enctype="multipart/form-data">
                Upload File: <input type="file" name="file"> <input type="submit" name="submit" value="Submit">
            </form>
        </p>
        <h2>Post later</h2>
        <p>
            <input type="hidden" id="bookmarklet_js" value="javascript:(function(){window.open('http://{{ host }}/postlater/add?username=#username#&url='+encodeURIComponent(location.href));})();">
            Type your Meme username here: <input type="text" id="meme_username"> <input type="button" id="generate_bookmarklet" value="Generate my bookmarklet!"><br>
            <span style="display:none;" id="bookmarklet_text">Drag this link to your bookmarks bar: <b><a id="bookmarklet" href="#">Post later to Meme</a></b></span>
        </p>
        <h2>App Highlights</h2>
        <p>
            <form id="highlight_form" action="/highlight/update" method="POST">
                <input type="hidden" name="highlight_name" value="{{ highlight_id }}">
                Meme Query: <input type="text" id="highlight_query" name="highlight_query" size="50" maxlength="100" value="{{ highlight_query }}"> Max. results: <input type="text" name="highlight_amount" id="highlight_amount" size="1" maxlength="1" value="{{ highlight_amount }}"><br><br>
                <b>Remember to test your queries before updating:</b><br>
                <ul>
                    <li>YQL query: <a id="yql_query_link" href="#" target="_blank"><span id="yql_query"></span></a></li>
                    <li>Meme search results: <a id="meme_search_link" href="#" target="_blank"><span id="meme_search"></span></a></li>
                </ul>
                <input id="highlight_submit" type="button" value="Update!">
            </form>
        </p>
        <br>
        <p>
            <a href="{{ logout_url }}">sign out</a> | <a href="http://memeapp.net">website</a>
        </p>
    </body>
</html>