<html>
    <head>
        <title>Yahoo! Meme iOS Backend application</title>
        <script type="text/javascript" charset="utf-8" src="/static/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/admin.js"></script>
    </head>
    <body>
        | <a href="{{ logout_url }}">sign out</a> | <a href="http://memeapp.net">website</a> |
        <h1>Yahoo! Meme iOS Backend application</h1>
        <h2>Image upload</h2>
        <blockquote>
            <form id="img_form" action="{{ img_upload_url }}" method="POST" enctype="multipart/form-data">
                Upload File: <input type="file" name="file"> <input type="submit" name="submit" value="Submit">
            </form>
        </blockquote>
        <h2>Post later</h2>
        <blockquote>
            <input type="hidden" id="bookmarklet_js" value="javascript:(function(){window.open('http://{{ host }}/postlater/add?username=#username#&url='+encodeURIComponent(location.href));})();">
            Type your Meme username here: <input type="text" id="meme_username"> <input type="button" id="generate_bookmarklet" value="Generate my bookmarklet!"><br>
            <span style="display:none;" id="bookmarklet_text">Drag this link to your bookmarks bar: <b><a id="bookmarklet" href="#">Post later to Meme</a></b></span>
        </blockquote>
        <h2>App Highlights</h2>
        <blockquote>
            <form id="highlight_form" action="/highlight/update" method="POST">
                <select name="highlight_name"><option>{{ highlight_id }}</option></select>
                Meme Query: <input type="text" id="highlight_query" name="highlight_query" size="40" maxlength="100" value="{{ highlight_query }}">
                Max. results: <input type="text" name="highlight_amount" id="highlight_amount" size="1" maxlength="1" value="{{ highlight_amount }}">
                <span id="highlight_warning" style="display:none"><b><font color="red"><br><br>Remember to test your queries before updating:</font></b></span>
                <ul>
                    <li>YQL query: <a id="yql_query_link" href="#" target="_blank"><span id="yql_query"></span></a></li>
                    <li>Meme search results: <a id="meme_search_link" href="#" target="_blank"><span id="meme_search"></span></a></li>
                    <li>Highlights API: <a href="http://{{ host }}/highlight/{{ highlight_id }}" target="_blank">http://{{ host }}/highlight/{{ highlight_id }}</a></li>
                </ul>
                <input id="highlight_submit" type="button" value="Update!">
            </form>
        </blockquote>
    </body>
</html>